.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu{
	display: none;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body::-webkit-scrollbar { width: 0 !important }


h1, h2, h3, h4, h5, h6 ,
p, div {
	font-family:Roboto,GillSans,Calibri,Trebuchet,sans-serif;
	font-weight:300;
}

#nav{
	margin:0px;
}


#nav li { 
		z-index: 1000;

		position: relative;
		display:block;
		width:100px;
		height: 200%;
		background:#E0E0E0;
		-webkit-transition: all 0.1s ease-in-out;
	        -moz-transition: all 0.1s ease-in-out;
	        -ms-transition: all 0.1s ease-in-out;
	        -o-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
	}


#nav li a {
		z-index: 1000;

	 position: relative;
	display:block;
	font-weight:300;
	padding-top: 5px;
	padding-bottom: 5px;
	height:150%;
	text-decoration:none;
	text-align:center;
	color:#333;

	
}
#actions{
	padding:0px;
}

    
li ul {
		z-index: 1000;

	position:absolute;
	left:0;
	display:none;
	margin:0 0 0 -1px;
	padding:0;
	list-style:none;

    }
#nav li li {
	z-index: 1000;
	 position: relative;
		-webkit-transform: translate(-97px,-30px);
		-moz-transform: translate(-95px,-30px);
		
		
			}
#nav li li:hover{
	background:#009999;
}

        
li:hover ul, li.over ul { display: block; } 

a.bottone:hover { background:#009999;
}


/* ------------    FINE MENU ---------------------------------------------------------*/




/*   ---------------------------------------   MENU INTESTAZIONE DETTAGLIO COMMESSA --------------------------------------- */




/*   ---------------------------------------   FINE MENU 2 !!! --------------------------------------- */


div.quick_view {
		position:absolute;
		left:0;
		display:block;
		margin:0 0 0 -1px;
		padding:0;
		list-style:none;
		z-index:100;
		-webkit-transform: translate(10px,10px);
		background:#E0E0E0;
	}


/*NOTE PRODUTTORI IN AGGIUNGI E MODIFICA COMMESSA*/
div.nota_produttore {
		position:absolute;
		right:50px;
		display:block;
		z-index:100;
		-webkit-transform: translate(5px,5px);
	    }
div.nota_prod {
				position:absolute;
				right:0px;
				display:block;
				z-index:100;
				-webkit-transform: translate(5px,10px);
			    }
div.nota_produttore textarea{
		position:absolute;
	
				right:10px;
				
			    }
div.nota_nascosta {

				display:none;

			    }
tr.esclusa{
	opacity:0.2;
}
.ricerca_globale_table tbody tr:hover {
  background-color: orange;
}
#groceryCrudTable tbody tr:hover {
  background-color: orange;
}
.groceryCrudTable tbody tr:hover {
  background-color: orange;
}

#completato:hover a.botto{ background:#009999;
}

.tr_red{
	background-color:#00CC00;
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */
#tassativa{background:red;}

#completato ul li a:hover{ background:#E0E0E0;}

