div.elenco_comm {
				position:absolute;
				right:10px;
				top:50px;
				display:block;
				margin:0 0 0 -1px;
				padding:0;
				list-style:none;
				z-index:100;
				background: #33FFFF;
				border-style:solid;
				border-width:medium;
		}
		
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

div.elenco_comm tr:nth-child(even) { background-color: white;}

table.footer {
	position:absolute;
	margin-top:1450px;
	
	
}
table.footer_preventivo {
	position:absolute;
	margin-top:900px;
	
	
}
table.footer_preventivo1 {
	position:absolute;
	margin-top:1000px;
	
	
}
table.footer_preventivo2 {
	position:absolute;
	margin-top:1300px;
	
	
}
table.footer_preventivo3 {
	position:absolute;
	margin-top:1360px;
	
	
}
table.footer_preventivo4 {
	position:absolute;
	margin-top:1390px;
	
	
}
table.footer_preventivo5 {
	position:absolute;
	margin-top:1430px;
	
	
}
table.sotto_footer_preventivo {
	position:absolute;
	margin-top:1070px;
	
	
}
table.footer_ddt {
	position:absolute;
	margin-top:960px;
	
	
}
table.sotto_footer_ddt {
	position:absolute;
	margin-top:1010px;
	
	
}
table.sotto_footer_ddt2 {
	position:absolute;
	margin-top:1085px;
	
	
}

body.compile{
  margin: 0;
  overflow: hidden;
  height:100%;
}

#central {
	overflow-y: scroll;
  	height:100%;
}

#central::-webkit-scrollbar { width: 0 !important }

table.accessori td{
	border-bottom:1px solid black;
	padding: 10px;
}
table.materiali td{
	border-bottom:1px solid black;
	padding: 10px;
}table.semilavorati td{
	border-bottom:1px solid black;
	padding: 10px;
}


td.descrizione{
	padding: 5px;
}

div.elenco_acc{
				position:absolute;
				right:10px;
				top:50px;
				display:block;
				margin:0 0 0 -1px;
				padding:0;
				list-style:none;
				z-index:100;
				background: #33FFFF;
				border-style:solid;
				border-width:medium;
		}
		
div.elenco_acc tr:nth-child(even) { background-color: white;}