table tr td:nth-child(8) {
    background: #FF9933;
}

table tr td {
    text-align:center;
}

table tr td:nth-child(9) {
    background: #FFE16C;
}

table tr td:nth-child(4) {
    background: #A9D3FF;
}

.fucsia
{ 
    background: #FF98E5;
}

.giallo { 
    background: #FFFF99;
}

.blue { 
    background: #A9D3FF;
}

.rosso { 
    background: #FF0000;
}

.verde { 
    background: #86E786;
}

.malva { 
    background: #E1B0FF;
}